%nav#sidebar
  #sidebarCollapse.sidebar-header
    %h3
      Emergency Operation Center

    %strong EOC
    %i.fas.fa-align-left

  %ul.list-unstyled.components
    %li
      = link_to root_path do
        %i.fas.fa-book
        SOP

  .copyright
    © 2019 InSTEDD
